<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="main.java.utils.SuiteListener"/>
    </listeners>
    <test name="Test Automation">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="test.java.SampleTest"/>
        </classes>
    </test>
    <test name="TestFirefox">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="test.java.SampleTest"/>
        </classes>
    </test>
    <!-- You can add more <test> tags for additional tests -->
</suite>





